{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idevent</th>
                <th>Iduser</th>
                <th>Type</th>
                <th>Dateevent</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idevent }}</td>
                <td>{{ evenement.iduser }}</td>
                <td>{{ evenement.type }}</td>
                <td>{{ evenement.dateevent }}</td>
                <td>{{ evenement.adresse }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'idevent': evenement.idevent}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'idevent': evenement.idevent}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
