{% extends 'RRH.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block body %}
    <h1>Evaluation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEvaluation</th>
                <td>{{ evaluation.idEvaluation }}</td>
            </tr>
            <tr>
                <th>IdEntretien</th>
                <td>{{ evaluation.idEntretien }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ evaluation.note }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ evaluation.avis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evaluation_index') }}">back to list</a>

    <a href="{{ path('app_evaluation_edit', {'idEvaluation': evaluation.idEvaluation}) }}">edit</a>

    {{ include('evaluation/_delete_form.html.twig') }}
{% endblock %}
