{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    <h1>Employe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPer</th>
                <td>{{ employe.idPer }}</td>
            </tr>
            <tr>
                <th>DateEmbauche</th>
                <td>{{ employe.dateEmbauche ? employe.dateEmbauche|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ employe.grade }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                <td>{{ employe.equipe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employe_index') }}">back to list</a>

    <a href="{{ path('app_employe_edit', {'idPer': employe.idPer}) }}">edit</a>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
