{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdContrat</th>
                <td>{{ contrat.idContrat }}</td>
            </tr>
            <tr>
                <th>TypeContrat</th>
                <td>{{ contrat.typeContrat }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ contrat.salaire }}</td>
            </tr>
            <tr>
                <th>SateEmbauche</th>
                <td>{{ contrat.sateEmbauche ? contrat.sateEmbauche|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contrat_index') }}">back to list</a>

    <a href="{{ path('app_contrat_edit', {'idContrat': contrat.idContrat}) }}">edit</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
