{% extends 'admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<section style="margin:2rem">
    <h1>Create new User</h1>

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
<table>
    <tr>
        <td>
            {{ form_label(form.nom) }}
        </td>
        <td>
            {{ form_widget(form.nom) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.prenom) }}
        </td>
        <td>
            {{ form_widget(form.prenom) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.email) }}
        </td>
        <td>
            {{ form_widget(form.email) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.cin) }}
        </td>
        <td>
            {{ form_widget(form.cin) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.urlPhoto) }}
        </td>
        <td>
            {{ form_widget(form.urlPhoto) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.dateDeNaissance) }}
        </td>
        <td>
            {{ form_widget(form.dateDeNaissance) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.dateEmbauche) }}
        </td>
        <td>
            {{ form_widget(form.dateEmbauche) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.numTel) }}
        </td>
        <td>
            {{ form_widget(form.numTel) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.grade) }}
        </td>
        <td>
            {{ form_widget(form.grade) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.equipe) }}
        </td>
        <td>
            {{ form_widget(form.equipe) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.role) }}
        </td>
        <td>
            {{ form_widget(form.role) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.mdp) }}
        </td>
        <td>
            {{ form_widget(form.mdp) }}
        </td>
    </tr>
    <tr><td></td><td>
            <button class="btn">{{ button_label|default('Save') }}</button>
        </td></tr>
</table>
    {{ form_end(form) }}

    <a href="{{ path('app_user_index') }}">back to list</a>
</section>
{% endblock %}
